In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns = ['EIN'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type = application_df['APPLICATION_TYPE'].value_counts()
application_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type[application_type < 500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_type = application_df['CLASSIFICATION'].value_counts()
classification_type

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = classification_type.loc[classification_type > 1]
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_type[classification_type < 1000].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
name_type= application_df['NAME'].value_counts()
name_type

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [10]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_type[name_type < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummie_application_df = pd.get_dummies(application_df)
dummie_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
y = dummie_application_df['IS_SUCCESSFUL'].values
X = dummie_application_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10
number_input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = number_input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 8751 (34.18 KB)
Trainable params: 8751 (34.18 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.5359 - accuracy: 0.7437
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5022 - accuracy: 0.7569
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4963 - accuracy: 0.7575
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4936 - accuracy: 0.7589
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4918 - accuracy: 0.7596
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4901 - accuracy: 0.7607
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4895 - accuracy: 0.7590
Epoch 8/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4878 - accuracy: 0.7631
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4874 - accuracy: 0.7628
Epoch 10/100
804/804 [==============================] - 8s 10ms/step - loss: 0.4865 - accuracy: 0.7617
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4852 - accuracy: 0.7632
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4846 - accuracy: 0.7622
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4834 - accuracy: 0.7621
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4831 - accuracy: 0.7616
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4829 - accuracy: 0.7628
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4821 - accuracy: 0.7640
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4815 - accuracy: 0.7644
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4813 - accuracy: 0.7643
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4805 - accuracy: 0.7639
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4799 - accuracy: 0.7636
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4795 - accuracy: 0.7652
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4789 - accuracy: 0.7645
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4790 - accuracy: 0.7636
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4789 - accuracy: 0.7642
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4781 - accuracy: 0.7650
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4780 - accuracy: 0.7657
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4774 - accuracy: 0.7650
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4773 - accuracy: 0.7659
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4769 - accuracy: 0.7665
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4764 - accuracy: 0.7654
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4763 - accuracy: 0.7661
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4757 - accuracy: 0.7662
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4760 - accuracy: 0.7659
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4758 - accuracy: 0.7654
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4755 - accuracy: 0.7668
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4751 - accuracy: 0.7669
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4749 - accuracy: 0.7663
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4747 - accuracy: 0.7668
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4743 - accuracy: 0.7673
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4744 - accuracy: 0.7681
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4739 - accuracy: 0.7661
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4741 - accuracy: 0.7660
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4738 - accuracy: 0.7664
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4736 - accuracy: 0.7664
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4733 - accuracy: 0.7676
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4731 - accuracy: 0.7687
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4732 - accuracy: 0.7676
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4730 - accuracy: 0.7664
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4727 - accuracy: 0.7676
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7668
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7682
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4721 - accuracy: 0.7678
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4721 - accuracy: 0.7675
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7678
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7683
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7675
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7680
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4714 - accuracy: 0.7683
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4713 - accuracy: 0.7687
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4711 - accuracy: 0.7687
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4709 - accuracy: 0.7675
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4708 - accuracy: 0.7690
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4709 - accuracy: 0.7680
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4706 - accuracy: 0.7690
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4702 - accuracy: 0.7692
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4703 - accuracy: 0.7687
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4703 - accuracy: 0.7675
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4701 - accuracy: 0.7687
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4703 - accuracy: 0.7677
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4700 - accuracy: 0.7687
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4700 - accuracy: 0.7682
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4695 - accuracy: 0.7688
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4699 - accuracy: 0.7682
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4697 - accuracy: 0.7692
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4696 - accuracy: 0.7696
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4691 - accuracy: 0.7694
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4694 - accuracy: 0.7701
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4693 - accuracy: 0.7694
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4693 - accuracy: 0.7696
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4692 - accuracy: 0.7693
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4691 - accuracy: 0.7684
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4688 - accuracy: 0.7694
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4688 - accuracy: 0.7701
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4686 - accuracy: 0.7688
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4685 - accuracy: 0.7695
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4688 - accuracy: 0.7687
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4687 - accuracy: 0.7699
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4686 - accuracy: 0.7704
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4684 - accuracy: 0.7692
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4684 - accuracy: 0.7687
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4683 - accuracy: 0.7696
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4684 - accuracy: 0.7698
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7701
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4682 - accuracy: 0.7695
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7693
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4680 - accuracy: 0.7697
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4680 - accuracy: 0.7701
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4681 - accuracy: 0.7703
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4675 - accuracy: 0.7694
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4678 - accuracy: 0.7695

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5105 - accuracy: 0.7501 - 2s/epoch - 6ms/step
Loss: 0.510517418384552, Accuracy: 0.7500874400138855

In [21]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')